# Exploratory Data Analysis

In [6]:
# Import libraries
import json
import pandas as pd

In [4]:
csv_file = "data\weather.csv"

In [5]:
df = pd.read_csv(csv_file)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
len(set(df["M_SESSION_UID"]))

153

In [49]:
len(set(df["M_SESSION_UID"]))

153

In [30]:
sessions = []
for name, group in df.groupby("M_SESSION_UID"):
    sessions.append(group)

In [40]:
first_session = sessions[1]
first_session.head()

,M_PACKET_FORMAT,M_GAME_MAJOR_VERSION,M_GAME_MINOR_VERSION,M_PACKET_VERSION,M_PACKET_ID,M_SESSION_UID,M_SESSION_TIME,M_FRAME_IDENTIFIER,M_PLAYER_CAR_INDEX,M_SECONDARY_PLAYER_CAR_INDEX,...,M_AI_DIFFICULTY,M_PIT_SPEED_LIMIT,M_NETWORK_GAME,M_TOTAL_LAPS,M_STEERING_ASSIST,M_IS_SPECTATING,M_DYNAMIC_RACING_LINE,M_DRSASSIST,M_NUM_MARSHAL_ZONES,Unnamed: 58
365750,2021,1,14,1,1,2.256787e+17,0.01,0,19,255,...,90,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
365751,2021,1,14,1,1,2.256787e+17,0.01,0,19,255,...,90,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
365752,2021,1,14,1,1,2.256787e+17,0.01,0,19,255,...,90,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
365753,2021,1,14,1,1,2.256787e+17,0.01,0,19,255,...,90,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN
365754,2021,1,14,1,1,2.256787e+17,0.01,0,19,255,...,90,80,0.0,200.0,0.0,0.0,0.0,0.0,16.0,NaN

In [41]:
weather_columns= ["M_SESSION_TIME","TIMESTAMP",
"M_ZONE_START","M_TRACK_TEMPERATURE","M_TRACK_LENGTH","M_FORECAST_ACCURACY","M_AIR_TEMPERATURE",
"M_NUM_WEATHER_FORECAST_SAMPLES","M_TRACK_ID","M_SESSION_TIME_LEFT","M_SESSION_DURATION","M_WEATHER_FORECAST_SAMPLES_M_SESSION_TYPE",
"M_TIME_OFFSET","M_WEATHER_FORECAST_SAMPLES_M_WEATHER","M_WEATHER_FORECAST_SAMPLES_M_TRACK_TEMPERATURE","M_TRACK_TEMPERATURE_CHANGE",
"M_WEATHER_FORECAST_SAMPLES_M_AIR_TEMPERATURE","M_TRACK_TEMPERATURE_CHANGE",'M_WEATHER_FORECAST_SAMPLES_M_AIR_TEMPERATURE',
'M_AIR_TEMPERATURE_CHANGE', 'M_RAIN_PERCENTAGE', 'M_WEATHER']

In [42]:
first_session = first_session[weather_columns]

In [44]:
first_session.M_SESSION_TIME.value_counts()

39.960     77
97.585     77
6.537      77
55.987     77
112.628    77
           ..
71.013     77
115.634    77
40.960     77
83.543     77
61.000     77
Name: M_SESSION_TIME, Length: 125, dtype: int64

In [45]:
first_session.TIMESTAMP.value_counts()

1.642374e+09    77
1.642374e+09    77
1.642374e+09    77
1.642374e+09    77
1.642374e+09    77
                ..
1.642374e+09    77
1.642374e+09    77
1.642374e+09    77
1.642374e+09    77
1.642374e+09    77
Name: TIMESTAMP, Length: 125, dtype: int64

In [46]:
suitable_sessions = []
for session in sessions:
    if len(session.TIMESTAMP.value_counts()) > 300:
        suitable_sessions.append(session)

In [48]:
len(suitable_sessions)

32